# user service
[Unit]
Description=AstrBot Service
Documentation=https://github.com/AstrBotDevs/AstrBot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/.astrbot
ExecStart=/usr/bin/astrbot run --backend-only
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=astrbot-%u
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
